body {
    margin: 0; /* Optional: To remove default body margin */
    height: 100vh; /* Ensure the body covers the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Designer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(200, 232, 243); /* Optional: Add a background color */
}

.login-container {
    background: rgb(149, 210, 231);
    /* background-image: url(Designer.png); */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Control the max width of the container */
    width: 100%;
    text-align: center;
}

#loginimage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#underlinetext {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
}

#underlinetext:hover {
    text-decoration: underline;
}

#google-signin-button {
    margin-top: 10px
}
